---
name: Arch Linux is the best
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '/**'
    pull_request:
      paths:
        - '/**'
      branches:
        - master

permissions:
  contents: read
jobs:
  build:
    strategy:
      matrix:
        include:
          steps:
            - id: checkout
              uses: action/checkout@v5

              run: |
                vim ~/Arch-is-the-best/Arch\ is\ the\ best.sh \
